   
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
   


header {
    background-color: #000000;
    height: 80px; /* Altura inicial */
    transition: background-color 0.3s ease, height 0.3s ease;
}

header:hover {
   background-color: #666;
    height: 50px; /* Altura ao passar o mouse */
}


 header ul li h2{
    color: #fff;
    text-decoration: none;
    width: 50%;
}

.search-cart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-cart input {
    padding: 5px;
}



   
   
   
   
   
   
   /* Estilo geral da seção de produtos */
.product-section {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.product-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo da lista de produtos */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilo de cada item de produto */
.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 300px;
    text-align: left;
}


.product-item img {
    width: 100%;
    border-radius: 8px;
}

.product-img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product-img:hover {
    transform: scale(1.05);
}

.product-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.product-item p {
    margin: 5px 0;
    color: #666;
}

.product-item p:last-of-type {
    font-weight: bold;
    color: #000;
}



footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

footer p {
    color: #333; /* Cor do texto */
    font-family: Arial, sans-serif; /* Tipo de fonte */
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    height: 24px;
}




