   
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
   
   
   
   
   
   
   
   /* Estilo geral da seção de produtos */
.product-section {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.product-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo da lista de produtos */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilo de cada item de produto */
.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 300px;
    text-align: left;
}

.product-item img {
    width: 100%;
    border-radius: 8px;
}

.product-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.product-item p {
    margin: 5px 0;
    color: #666;
}

.product-item p:last-of-type {
    font-weight: bold;
    color: #000;
}



/* Estilo de cada item de produto */
.product-item3 {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 300px;
    text-align: left;
}

.product-item img {
    width: 100%;
    border-radius: 8px;
}

.product-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.product-item p {
    margin: 5px 0;
    color: #666;
}

.product-item p:last-of-type {
    font-weight: bold;
    color: #000;
}


/* Estilo de cada item de produto */
.product-item4 {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 300px;
    text-align: left;
}

.product-item img {
    width: 100%;
    border-radius: 8px;
}

.product-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.product-item p {
    margin: 5px 0;
    color: #666;
}

.product-item p:last-of-type {
    font-weight: bold;
    color: #000;
}